<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" multiple accept="image/*" required></p>
      <input type="radio" id="public" name="perms" value="public">
      <label for="public">Public</label><br>
      <input type="radio" id="private" name="perms" value="private">
      <label for="private">Private</label><br>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>