{% extends 'base-logged-in.jinja2' %}

{% block head %}


<style>
    .page-wrapper{
        height: 200vh;
        background:url({{ url_for('static', filename = 'bg.jpg') }}) ;
        background-position: 0px, -50px;
        background-size: 200%;
        background-size: cover;
    }
</style>
{% endblock %}

<body>
{% block content %}
    <div class="page-wrapper" >
        <div class="title-wrapper">
            <h1>{{ title }}</h1>
            <p></p>
        </div>
        <div class="album py-5">
        <div class="container">
          <div class="row">
          {% for x in range(number) %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename = output[x]['image_path'] ) }}" height=200 alt="Card image cap">
                <div class="card-body">
                  <div class="btn-group" style="display: flex"role="group" aria-label="Basic example">
                      <a class="btn btn-primary" href="{{ url_for('resultsView', params=output[x]['image_characteristics'].split(',')[0] ) }}" role="button">{{ output[x]['image_characteristics'].split(',')[0] }}</a>
                      <a class="btn btn-primary" href="{{ url_for('resultsView', params=output[x]['image_characteristics'].split(',')[1] ) }}" role="button">{{ output[x]['image_characteristics'].split(',')[1] }}</a>
                      <a class="btn btn-primary" href="{{ url_for('resultsView', params=output[x]['image_characteristics'].split(',')[2] ) }}" role="button">{{ output[x]['image_characteristics'].split(',')[2] }}</a>
                      <a class="btn btn-primary" href="{{ url_for('resultsView', params=output[x]['image_characteristics'].split(',')[3] ) }}" role="button">{{ output[x]['image_characteristics'].split(',')[3] }}</a>
                  </div>
                    <hr>
                    <ul class="list-group">
                      <li class="list-group-item">Uploaded by: {{ output[x]['user_uploaded'] }}</li>
                      {% if output[x]['image_public'] %}
                          {% if output[x]['user_uploaded'] == userdata['userName'] %}
                              <li class="list-group-item">Image Permission: Public | <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('editImage', image_id = output[x]['image_id'] ) }}" role="button">Make Private</a></li>
                          {% else %}
                              <li class="list-group-item">Image Permission: Public</li>
                          {% endif %}
                      {% else %}
                          {% if output[x]['user_uploaded'] == userdata['userName'] %}
                              <li class="list-group-item">Image Permission: Private | <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('editImage', image_id = output[x]['image_id'] ) }}" role="button">Make Public</a></li>
                          {% else %}
                              <li class="list-group-item">Image Permission: Private</li>
                          {% endif %}
                        {% endif %}

                    </ul>
                <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('download_image', folder="uploads/", path=output[x]['image_path'][8:]) }}" role="button">Download</a>
                        {% if output[x]['user_uploaded'] == userdata['userName'] %}
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('deleteImage', image_id = output[x]['image_id'] ) }}" role="button">Delete</a>
                        {% endif %}
                    </div>
                    <small class="text-muted" style="font-size: xx-small">{{ output[x]['image_id'] }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
</body>
